<template>
  <div class="hero-body" id="about">
    <div class="container">
      <div class="has-text-centered">
        <p class="title">Profil</p>
        <p class="subtitle">Ingénieur DevOps Junior</p>
      </div>
      <hr />
      <div class="columns container">
        <div class="column is-10 is-offset-1">
          <div class="columns">
            <div class="column has-text-justified">
              <p class="title">Qui suis-je ?</p>
              <p>
                Ingénieur en informatique de {{ calculatedAge }} ans. Curieux
                par nature, je suis très intéressé par les nouvelles
                technologies mais surtout le high-tech. J'apprécie m'informer
                quotidiennement sur les dernières nouveautés en informatique.
              </p>
            </div>
            <div class="column">
              <div class="columns">
                <div class="column is-8 is-offset-2">
                  <figure class="image is-square">
                    <img
                      src="../assets/photo.jpg"
                      class="is-rounded img-avatar"
                      alt="Photo"
                    />
                  </figure>
                  <div class="has-text-centered">
                    <a
                      href="https://www.linkedin.com/in/lo%C3%AFc-mayol/"
                      class="linkedin"
                    >
                      <VueFontawesome :icon="['fab', 'linkedin']" size="2x" />
                    </a>
                    &nbsp;
                    <a href="https://gitlab.com/DO3B" class="gitlab">
                      <VueFontawesome :icon="['fab', 'gitlab']" size="2x" />
                    </a>
                    &nbsp;
                    <a href="https://github.com/DO3B" class="github">
                      <VueFontawesome :icon="['fab', 'github']" size="2x" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <p class="title">Détails :</p>
              <ul>
                <li>Loïc MAYOL</li>
                <li>{{ calculatedAge }} ans</li>
                <li>
                  <a href="mailto:l.mayol@laposte.net">l.mayol@laposte.net</a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/lo%C3%AFc-mayol/"
                    class="linkedin"
                  >
                    linkedin.com/in/lo&iuml;c-mayol
                  </a>
                </li>
                <li>
                  <a href="https://gitlab.com/DO3B" class="gitlab">
                    gitlab.com/DO3B
                  </a>
                </li>
                <li>
                  <a href="https://github.com/DO3B" class="github">
                    github.com/DO3B
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <p class="title">Expériences</p>
          <ExperienceItem
            v-for="experience in experiences"
            :key="experience.id"
            :experience="experience"
          />
          <p class="title">Formations</p>
          <FormationItem
            v-for="formation in formations"
            :key="formation.id"
            :formation="formation"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Experience, Formation } from "@/types";
import { computed } from "vue";
import curriculum from "../assets/json/curriculum.json";
import ExperienceItem from "../components/ExperienceItem.vue";
import FormationItem from "../components/FormationItem.vue";

const experiences: Experience[] = curriculum.experiences;
const formations: Formation[] = curriculum.formations;

const calculatedAge = computed(() => {
  let birthdayDate = new Date("October 1, 1996");
  let age = Date.now() - birthdayDate.getTime();
  return Math.abs(new Date(age).getUTCFullYear() - 1970);
});
</script>

<style scoped>
a.linkedin {
  color: #0077b5 !important;
}

a.linkedin:hover {
  color: #000 !important;
}

a.gitlab {
  color: #fc6d26 !important;
}

a.gitlab:hover {
  color: #000 !important;
}

a.github:hover {
  color: #000 !important;
}
</style>
