<template>
  <div class="hero-body" id="home">
    <div class="container has-text-centered">
      <div class="columns is-mobile is-centered">
        <div
          class="column is-one-fifth-widescreen is-half-mobile is-one-quarter-tablet"
        >
          <figure class="image is-square">
            <img
              src="../assets/photo.jpg"
              class="is-rounded img-avatar"
              alt="Photo"
            />
          </figure>
        </div>
      </div>
      <p class="title">Lo&iuml;c MAYOL</p>
      <p class="subtitle">Ingénieur DevOps Junior</p>
      <p class="is-size-4 has-text-primary is-italic">
        "There are times when verbal ingenuity is not enough."
      </p>
      <hr />
      <div class="buttons is-centered">
        <RouterLink
          to="/about"
          class="button is-primary is-outlined is-rounded"
        >
          À propos de moi
        </RouterLink>
        <RouterLink
          to="/projects"
          class="button is-primary is-outlined is-rounded"
        >
          Mes projets
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { RouterLink } from "vue-router";
</script>
