<template>
  <div class="hero-body" id="projects">
    <div class="container has-text-centered">
      <h2 class="title">Mes projets</h2>
      <p class="subtitle">
        "Mon projet préféré ? C'est le prochain."
        <br />-
        <span class="has-text-primary">Frank Lloyd Wright</span>
      </p>
      <hr />
      <section class="columns">
        <div class="has-text-centered column is-10 is-offset-1">
          <div class="columns is-centered is-multiline" v-if="projects != null">
            <ProjectItem
              v-for="project in projects"
              :project="project"
              :key="project.id"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useProjectsStore } from "@/store/projects";
import orderBy from "lodash.orderby";
import { computed } from "vue";
import ProjectItem from "../components/ProjectItem.vue";

const projects = computed(() =>
  orderBy(useProjectsStore().projects, "lastActivityAt", "desc")
);
</script>
