<template>
  <div class="columns">
    <div class="column is-4">
      <p
        class="is-size-5 has-text-weight-bold has-text-primary"
        :data-label="'ExperienceCompany' + experience.company.replace(' ', '')"
      >
        {{ experience.company }}
      </p>
      <p>
        {{ startDate }} - {{ endDate }}
        <span v-if="endDate != 'Actuellement'"
          >({{ calculateDuration(experience.dates) }})</span
        >
      </p>
      <span class>
        <VueFontawesome :icon="['fas', 'map-marker-alt']" />
        <span style="padding-left: 0.1rem" class="has-text-weight-bold">{{
          experience.location
        }}</span>
      </span>
    </div>
    <div class="column is-8">
      <p class="is-size-5 has-text-weight-bold">{{ experience.position }}</p>
      <div class="content has-text-justified">
        <ul>
          <li v-for="task in experience.tasks" :key="task">{{ task }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { niceDate, calculateDuration } from "../utils/helpers";
import { computed } from "vue";

const props = defineProps({
  experience: {
    type: Object,
    default: null,
  },
});

const startDate = computed(() =>
  niceDate(props.experience.dates.start, "MMMM YYYY")
);
const endDate = computed(() => {
  if (props.experience.dates.end != null) {
    return niceDate(props.experience.dates.end, "MMMM YYYY");
  }
  return "Actuellement";
});
</script>
