<template>
  <footer class="hero-foot">
    <div class="container has-text-centered">
      <nav class="breadcrumb has-bullet-separator is-centered">
        <ul>
          <li><RouterLink to="/">Accueil</RouterLink></li>
          <li><a href="https://gitlab.com/DO3B">GitLab</a></li>
          <li><a href="https://github.com/DO3B">GitHub</a></li>
          <li><a href="mailto:l.mayol@laposte.net">Contact</a></li>
        </ul>
      </nav>
      <div class>
        &copy; Copyright
        <span class="has-text-primary">Lo&iuml;c MAYOL</span>
        {{ new Date().getFullYear() }}.
      </div>
      <div class>
        <a href="https://bulma.io">
          <img
            src="https://bulma.io/images/made-with-bulma.png"
            alt="Made with Bulma"
            width="128"
            height="24"
          />
        </a>
      </div>
    </div>
  </footer>
</template>

<script setup lang="ts">
import { RouterLink } from "vue-router";
</script>
