<template>
  <div class="columns">
    <div class="column is-4">
      <p class="is-size-5 has-text-weight-bold has-text-primary">
        {{ formation.school }}
      </p>
      <p>{{ formation.dates.start }} - {{ formation.dates.end }}</p>
      <span class>
        <VueFontawesome :icon="['fas', 'map-marker-alt']" />
        <span style="padding-left: 0.1rem" class="has-text-weight-bold">{{
          formation.location
        }}</span>
      </span>
    </div>
    <div class="column is-8">
      <p class="is-size-5 has-text-weight-bold">{{ formation.diploma }}</p>
      <p class="is-size-7 is-italic" v-if="formation.option">
        {{ formation.option }}
      </p>
      <div class="content has-text-justified">{{ formation.description }}</div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  formation: {
    type: Object,
    default: null,
  },
});
</script>
