<template>
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <RouterLink to="/" class="navbar-item">
          <strong>Lo&iuml;c MAYOL</strong>
        </RouterLink>

        <a
          role="button"
          class="navbar-burger"
          :class="activeMenu ? 'is-active' : ''"
          aria-label="menu"
          aria-expanded="false"
          @click="activeMenu = !activeMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div
        class="navbar-menu is-pulled-right is-hidden-desktop"
        :class="activeMenu ? 'is-active' : ''"
      >
        <div class="navbar-item">
          <button
            @click="
              $emit(
                'update:modelValue',
                modelValue === 'light' ? 'dark' : 'light'
              )
            "
            aria-label="Toggle theme"
            class="button is-rounded"
            :class="modelValue === 'light' ? 'is-warning' : 'is-black'"
          >
            <span class="icon">
              <Transition name="slide-fade">
                <VueFontawesome icon="moon" v-if="modelValue === 'dark'" />
                <VueFontawesome icon="sun" v-else-if="modelValue === 'light'" />
              </Transition>
            </span>
          </button>
        </div>
        <RouterLink to="/" class="navbar-item">Accueil</RouterLink>
        <RouterLink to="/about" class="navbar-item">À propos de moi</RouterLink>
        <RouterLink to="/projects" class="navbar-item">Projets</RouterLink>
      </div>
      <div class="navbar-end is-hidden-touch">
        <RouterLink to="/" class="navbar-item">Accueil</RouterLink>
        <RouterLink to="/about" class="navbar-item">À propos de moi</RouterLink>
        <RouterLink to="/projects" class="navbar-item">Projets</RouterLink>
        <div class="navbar-item">
          <button
            @click="
              $emit(
                'update:modelValue',
                modelValue === 'light' ? 'dark' : 'light'
              )
            "
            aria-label="Toggle theme"
            class="button is-rounded"
            :class="modelValue === 'light' ? 'is-warning' : 'is-black'"
          >
            <span class="icon">
              <Transition name="slide-fade">
                <VueFontawesome icon="moon" v-if="modelValue === 'dark'" />
                <VueFontawesome icon="sun" v-else-if="modelValue === 'light'" />
              </Transition>
            </span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script setup lang="ts">
import { RouterLink } from "vue-router";
import { ref } from "vue";

let activeMenu = ref(false);

defineProps({
  modelValue: String,
});

defineEmits(["update:modelValue"]);
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
a.navbar-item:focus-within {
  background-color: transparent !important;
}
</style>
