<template>
  <div class="column is-4">
    <div class="level">
      <div class="level-item">
        <a :href="project.webUrl">
          <figure class="image is-128x128" id="sepia">
            <img
              class="is-rounded"
              :src="project.avatarUrl"
              v-if="project.avatarUrl"
            />
            <img class="is-rounded" src="../assets/gitlab-icon.png" v-else />
          </figure>
        </a>
      </div>
    </div>
    <h5 class="title is-5">
      <a :href="project.webUrl">{{ project.name }}</a>
    </h5>
    <div class="tags is-centered">
      <span
        class="tag is-rounded is-primary"
        v-for="tag in tags"
        v-bind:key="tag"
      >
        {{ tag }}
      </span>
    </div>

    <p class="has-text-justified">{{ project.description }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    project: {
      type: Object,
      default: () => null,
    },
  },
  computed: {
    tags() {
      return this.project.topics;
    },
  },
});
</script>

<style scoped>
.image#sepia {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image#sepia:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}
.v-lazy-image-loaded {
  filter: blur(0);
}
</style>
