<template>
  <div id="app">
    <section class="hero is-fullheight" :class="'is-' + theme">
      <Navbar v-model="theme"></Navbar>
      <RouterView />
      <Footer></Footer>
    </section>
  </div>
</template>

<script setup lang="ts">
import { RouterView } from "vue-router";
import { useProjectsStore } from "@/store/projects";
import Footer from "./components/Footer.vue";
import Navbar from "./components/Navbar.vue";

import { ref } from "vue";

const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");

let theme = ref(darkThemeMq.matches ? "dark" : "light");

darkThemeMq.addEventListener("change", event => {
  if (event.matches) theme.value = "dark";
  else theme.value = "light";
});

useProjectsStore().getAllProjects();
</script>

<style lang="scss">
@import "bulma/sass/utilities/_all";
$primary: #00adef;
$primary-invert: findColorInvert($primary);
$primary-dark: findDarkColor($primary);
$primary-light: findLightColor($primary);

.nav-text {
  padding-left: 0.1rem;
}

.icon svg {
  height: auto !important;
}

@import "node_modules/bulma/bulma.sass";

.img-avatar {
  margin: 10px;
  border: 2px solid #00d1b2;
  background-position: center;
  box-shadow: 0 0 8px rgba(183, 202, 214, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(183, 202, 214, 0.8);
  -moz-box-shadow: 0 0 8px rgba(183, 202, 214, 0.8);
  margin: 0 auto;
  float: right;
}

hr {
  background-color: transparent;
}

.hero.is-dark {
  background-color: rgb(20, 20, 20) !important;
}
</style>
